// Place all the styles related to the BatchConnect::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.batch-connect.sessions {
  .tab-content {
    padding-top: 10px;
  }

  .alert-default {
    border-bottom: 1px solid rgba(0,0,0,0.125);
    --bs-alert-bg: rgba(0,0,0,0.03);
  }

  .h5.card-header.alert {
    margin: -1px;
  }
}

.list-group .app-icon{
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.list-group-item.header {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #777;
  font-size: 12px;
  color: #337ab7;
  background-color: #f5f5f5;
}

.custom-range {
  height: 4px;
  box-shadow: inset 0 1px 10px gray;
  border-radius: 0.50rem;
}
