<%= turbo_frame_tag "project_directory" do %>
  <div class="d-flex justify-content-center lead text-weight-800 text-break">
    <strong class="mx-2"><%= frame_path(path)  %></strong>
  </div>
  <table class="table table-striped table-condensed w-100 table-hover caption-right">
    <thead>
      <tr>
        <th><span class="sr-only">Type</span></th>
        <th>Name</th>
        <th><span class="sr-only">Actions</span></th>
        <% private_dir = path.to_s.start_with?(CurrentUser.home) %>
        <% if private_dir %>
          <th>Size</th>
          <th>Date</th>
        <% else %>
          <th class='d-above-xl'>Size</th>
          <th class='d-above-xl'>Date</th>
          <th>Owner</th>
          <th>Mode</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <%= render partial: "files/turbo_frames/files", locals: { path: path, files: files, private_dir: private_dir } %>
    </tbody>
  </table>
  <div class="row content-justied-center col-6 mx-auto ">
    <%= files_button(path) %>
  </div>
<% end %>
