/*! OSC_CUSTOM_CODE Add Custom OSC Styles Here, add file to css path in json/css.json */

div.fm ul.menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: white;
}

.selected-file {
    /*FIXME: background-color: rgb(0,75,135); - OH-TECH blue does look sharp */
    background-color: rgb(71,10,104);
}

/* these styles control the selection style of a currently selected file */
.current-file, .selected-file.current-file {
    /*FIXME: background-color: rgb(0,75,135); - OH-TECH blue does look sharp */
    background-color: #08C;
}

.current-file, .current-file a {
    color: white;
}


.selected-file, .selected-file .name > a {
    color: white;
}

/* bootstrap-esque panel styling applied to cloud commander's panels
 * */
.panel {
    /*here we take both bootstrap .panel & .panel-default and put into .panel*/
    border: 1px solid #ddd;
    border-radius: 4px;

    /*FIXME: temporary fix - the panel heights are all messed up so for now just
     * hide the bottom border and the box shadows */
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    border-bottom: 0px;
}

/* FIXME: tried using .panel-heading in path.hbs but the caching of the join.js
 * in the browser which somehow embeds the path.hbs template in it threw me off.
 * That said, having a pure CSS solution might be preferable to modifying the
 * templates, so we can leave it with this for now.
 * */
.panel div:first-child {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}

/** Below are the original bootstrap classes - we apply similar styles to the
 * actual divs and classes cloud commander offers us
 *
/* .panel-heading{ */
/*   padding: 10px 15px; */
/*   border-bottom: 1px solid transparent; */
/*   border-top-left-radius: 3px; */
/*   border-top-right-radius: 3px; */
/* } */

/* .panel-default>.panel-heading { */
/*   color: #333; */
/*   background-color: #f5f5f5; */
/*   border-color: #ddd; */
/* } */
/* .panel-body { */
/*   padding: 15px; */
/* } */

.panel {
    padding: 0px;
}

div.fm-header {
    padding: 15px;
}

ul.files {
    padding: 15px;
}

/* hide 2 columns */
span.owner, span.mode {
    display: none;
}

.files li {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.fm-header {
    width: auto;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.name {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    width: auto;
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */

    flex-grow: 1;
}

.date, .size {
    width: 100px;
    flex-basis: 100px;
}

/* always show scrollbars so that the headers always line up */
.fm-header, .files {
    overflow-y: scroll
}

.fm-header {
    border-bottom: 1px solid #ddd;
}

/* Top buttons
 * position right above the panel
 * the actual buttons are embeded inside the panel
 */
.panel {
    /* so we can absolutely position elements inside this panel*/
    position: relative;
    margin-top: 40px;

    -webkit-box-flex: 3; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3; /* OLD - Firefox 19- */
    width: auto;
    -webkit-flex: 3; /* Chrome */
    -ms-flex: 3; /* IE 10 */

    flex-grow: 3;
}

.panel h6.help {
    /* position is in respect to panel*/
    position: absolute;
    top: -40px;
    right: 0px;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu-buttons {
    margin: 15px;
}

.panel-btns {
    position: absolute;
    top: -40px;
    right: 0px;
}

/* align tree and panel side by side using flex */
div.fm {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  margin: 26px;
}

.directory-explorer {
  margin-top: 40px;
  overflow: scroll;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;

  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;

  -webkit-box-flex: 0; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0; /* OLD - Firefox 19- */
  width: auto;
  -webkit-flex: 0; /* Chrome */
  -ms-flex: 0; /* IE 10 */
  flex-grow: 0;

  -ms-flex-preferred-size: auto; /* IE10 */
  -webkit-flex-basis: auto; /* Safari 8 */
  flex-basis: auto;


  // For children */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.directory-explorer .home {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  -webkit-box-flex: 0; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0; /* OLD - Firefox 19- */
  height: auto;
  -webkit-flex: 0; /* Chrome */
  -ms-flex: 0; /* IE 10 */
  flex-grow: 0;

  -ms-flex-preferred-size: auto; /* IE10 */
  -webkit-flex-basis: 40px; /* Safari 8 */
  flex-basis: auto;
}

.panel {
  // For children */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.panel > div {
  -webkit-box-flex: 0; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0; /* OLD - Firefox 19- */
  width: auto;
  -webkit-flex: 0; /* Chrome */
  -ms-flex: 0; /* IE 10 */
  flex-grow: 0;

  -ms-flex-preferred-size: auto; /* IE10 */
  -webkit-flex-basis: auto; /* Safari 8 */
  flex-basis: auto;
}

.panel .files {
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
  width: auto;
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex-grow: 1;
}

.directory-explorer {
}

.fm {
   height: 100vh;
   margin: 0px;
   padding: 26px;
   box-sizing: border-box;
   padding-bottom: 36px;
}

body {
  overflow: hidden;
}

.directory-explorer .home a:visited, .directory-explorer .home a {
   color: #337ab7;
   color: #333;
}


.jstree-default .jstree-clicked,
.directory-explorer .home.selected, 
.directory-explorer .home.selected a,
.directory-explorer .home.selected a:visited
{
   background-color: #08C !important;
   color: white !important;
}
