/*! OSC_CUSTOM_CODE Add Custom OSC Styles Here, add file to css path in json/css.json */

div.fm ul.menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: white;
}


/* these styles control the selection style of a currently selected file */
.current-file {
    /*FIXME: background-color: rgb(0,75,135); - OH-TECH blue does look sharp */
    background-color: #08C;
}

.current-file, .current-file a{
    color: white;
}

.selected-file {
    /*FIXME: background-color: rgb(0,75,135); - OH-TECH blue does look sharp */
    background-color: #08C;
}

.selected-file, .selected-file .name > a {
      color: white;
}



/* bootstrap-esque panel styling applied to cloud commander's panels
 * */
.panel-default {
  /*here we take both bootstrap .panel & .panel-default and put into .panel-default*/
  border: 1px solid #ddd;
  border-radius: 4px;

  /*FIXME: temporary fix - the panel heights are all messed up so for now just
   * hide the bottom border and the box shadows */
  /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
  border-bottom: 0px;
}

/* FIXME: tried to use .panel-heading 
 * but updating the path.hbs file modified the original template but not
 * templates when navigating to other pages; so this is pure css - no html
 * required
 * */
.panel-default div:first-child{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background-color: #f5f5f5;
  border-color: #ddd;
  color: #333;
}


/** Below are the original bootstrap classes - we apply similar styles to the
 * actual divs and classes cloud commander offers us
 *
/* .panel-heading{ */
/*   padding: 10px 15px; */
/*   border-bottom: 1px solid transparent; */
/*   border-top-left-radius: 3px; */
/*   border-top-right-radius: 3px; */
/* } */

/* .panel-default>.panel-heading { */
/*   color: #333; */
/*   background-color: #f5f5f5; */
/*   border-color: #ddd; */
/* } */
/* .panel-body { */
/*   padding: 15px; */
/* } */

.panel {
  padding: 0px;
}

div.fm-header {
  padding: 15px;
}

ul.files {
  padding: 15px;
}
