<%- link = app.links.first -%>
<%- link_data = {:method => "get"}.merge link.data -%>
<div class="col-sm-3 col-md-3 app-launcher-container">
  <div class="app-launcher app-launcher-hover" data-toggle="launcher-button">
  <%=
    link_to(
      link.url.to_s,
      class: "",
      target: link.new_tab? ? "_blank" : nil,
      data: link_data
    ) do
  %>
    <div class="center-block text-center">
      <%= icon_tag(link.icon_uri) %>
      <%= content_tag(:p, link.title) %>
      <%=
        content_tag(
          :p,
          content_tag(:span, link.caption),
          class: "text-muted",
          style: "margin-top: 20px"
        ) if link.caption
      %>
    </div>
  <% end %>
  </div>
</div>
