<%- link = app.links.first -%>
<div class="col-sm-3 col-md-3">
  <%=
    link_to(
      link.url.to_s,
      class: "app-card",
      target: link.new_tab? ? "_blank" : nil,
      data: link.data
    ) do
  %>
    <div class="center-block text-center">
      <%= icon_tag(link.icon_uri) %>
      <%= content_tag(:p, link.title) %>
      <%=
        content_tag(
          :p,
          content_tag(:span, link.caption),
          class: "text-muted",
          style: "margin-top: 20px"
        ) if link.caption
      %>
    </div>
  <% end %>
</div>
