<h2><%= @motd.title %></h2>

<% if @motd.messages.each do |m| %>

  <hr>
  <div class="motd">
    <h3 class="motd_title"><%= m.date %> - <%= m.title %></h3>
    <div class="motd_body"><p><%=raw markdown( m.body ) %></p></div>
  </div>

<% end.empty? %>

  <hr>
  <div class="motd">
    <p>There are no new messages.</p>
  </div>

<% end %>
