<div class="row">
  <%- Router.pinned_apps.each_with_index do |app, index| %>
    <%- link = app.links.first -%>
    <div class="col-sm-3 col-md-3 text-center">
      <a class="thumbnail app" href="<%= link.url %>">
        <div class="center-block">
          <%= icon_tag(link.icon_uri) %>
        </div>
        <%= link.title %>
      </a>
    </div>
    <%= tag.div class: %w(clearfix visible-lg-block visible-md-block visible-sm-block) if (index+1) % 4 == 0 %>
  <%- end %>
</div>