<div class="row">
  <%- Router.pinned_apps.each do |app| %>
    <%- link = app.links.first -%>
    <div class="col-sm-3 col-md-3 text-center">
      <a class="thumbnail app" href="<%= link.url %>">
        <div class="center-block">
          <%= icon_tag(link.icon_uri) %>
        </div>
        <%= link.title %>
      </a>
    </div>
  <%- end %>
</div>