<div class="alert alert-danger card">
  <div class="card-header">
    Could not render widget '<%= widget %>' because of error
  </div>
  <div class="card-body">
    </p><%= error %></p>
  </div>
</div>
