<%= render partial: 'shared/welcome' %>

<div class="xdmod">
    <div id="jobsPanelDiv"></div>
    <div id="centerReportCardPanelDiv"></div>
    <div id="reportThumbnailsPanelDiv"></div>
</div>


    <%# This assumes @motd_file responds to `to_partial_path` %>
    <%= render @motd if @motd %>
<!--
<div class="row">
  <div class="col-md-8">
    <div class="xdmod">
      <div id="jobsPanelDiv"></div>
      <div id="centerReportCardPanelDiv"></div>
      <div id="reportThumbnailsPanelDiv"></div>
    </div>
  </div>
  <div class="col-md-4">
    <%# This assumes @motd_file responds to `to_partial_path` %>
    <%# render @motd if @motd %>
  </div>
</div>
-->
