<div>
  <% @motd.content.items.each do |item| %>
      <div>
        <%= content_tag(:h4, item.pubDate.strftime("%m-%d-%Y")) if item.pubDate %>
        <h3><a href="<%= item.link %>"><%= item.title %></a></h3>
        <p><%= item.description.html_safe %></p>
        <hr />
      </div>
  <% end %>
</div>
