<h3>Message of the Day</h3>

<% if @motd_file.messages.each do |m| %>

  <hr>
  <div class="motd">
    <h4 class="motd_title"><%= m.date %> - <%= m.title %></h4>
    <div class="motd_body"><p><%=raw markdown( m.body ) %></p></div>
  </div>

<% end.empty? %>

  <hr>
  <div class="motd">
    <h4 class="motd_title">There are no new messages.</h4>
  </div>

<% end %>
