<%= logo_image_tag(ENV['OOD_DASHBOARD_LOGO']) %>

<p class="lead">OnDemand provides an integrated, single access point for all of your HPC resources.</p>
<br>

<%= render partial: "motd", locals: { motd: @motd_file  } if @motd_file.exist? %>

<!--
TODO: add getting started
<div class="row">
  <div class="col-md-8">
    <h3>Getting Started</h3>
    <hr>
  </div>
  <div class="col-md-4">
    <%# render partial: "motd", locals: { motd: MotdFile.new } %>
  </div>
</div>
-->
