<% if Configuration.logo_img? %>
  <%= logo_image_tag(Configuration.logo_img) %>
<% end %>

<p class="lead">OnDemand provides an integrated, single access point for all of your HPC resources.</p>

<%=
  render(
    partial: "shared/insufficient_quota",
    locals: { quotas: @my_quotas }
  )
%>

<br>

<%# This assumes @motd_file responds to `to_partial_path` %>
<%= render @motd if @motd %>

<!--
TODO: add getting started
<div class="row">
  <div class="col-md-8">
    <h3>Getting Started</h3>
    <hr>
  </div>
  <div class="col-md-4">
    <%# render partial: "motd", locals: { motd: MotdFile.new } %>
  </div>
</div>
-->
