<!-- For basic authentication, we ask the user to close their browser -->
<div class="jumbotron">
  <p class="lead">Please close your browser to logout out. If after reopening your browser you are still logged in, please clear your cookies.</p>
</div>
