<!-- For basic authentication, we ask the user to close their browser -->
<div class="jumbotron">
  <h2>You are not yet logged out</h2>
  <p class="lead"><strong>You must completely quit your browser</strong> in order
    for "logout" to occur. If after reopening your browser you are still logged
    in, please clear your cookies. If you are on a Chromebook or Chromebox, you
    will need to reboot your device in order to "quit the browser" and thus "logout".
  <p>
</div>

<div class="alert alert-info"><strong>Tip:
  Using a "private browsing mode"</strong> window while using OnDemand is a great
  way to handle "auto-logout", as closing your browser window will remove all
  associated cookies and session information.
</div>
