<hr>
<div>
  <%= session.render_completed_view %>
  <% if session.render_completed_view_error_message %>
    <div class="alert alert-danger" role="alert">
      <p><%= session.render_completed_view_error_message %></p>
    </div>
  <% end %>
</div>
