<% user_context = session.user_context %>
<% session.app.attributes.select(&:display?).each do |attribute| %>
  <p>
    <strong><%= attribute.label %>:</strong> <%= user_context.fetch(attribute.id, '') %>
  </p>
<% end %>
