<p>
  <strong><%= t('dashboard.batch_connect_sessions_stats_session_id') %></strong>
  <span class="text-muted"><%= "#{session.id} —" %></span>
  <%= link_to(
        t('dashboard.batch_connect_sessions_stats_session_dir_link_text'),
        OodAppkit.files.url(path: session.staged_root).to_s,
        class: 'session-id-link',
        title: t('dashboard.batch_connect_sessions_stats_session_dir_link_title', session_id: session.id),
        aria: { label: t('dashboard.batch_connect_sessions_stats_session_dir_link_title', session_id: session.id) }
      ) %>
</p>
