lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/*

# ignore all tempfiles
/tmp/*
!/tmp/.keep

# local copy of newer `npm`
/npm

# ignore env vars
/.env
