<div>
  <button class="btn btn-success my-3" id="add_new_field_button" type="button">
      Add new option
  </button>
</div>

<template id="new_field_template">
  <div class="d-flex mb-3">
    <div>
      TODO
    </div>

    <div class='ml-auto'>
      <button class="btn btn-success mx-1" type="button">Add</button>
      <button class="btn btn-danger mx-1" type="button">Remove</button>
    </div>
  </div>
</template>
