<li class="hidden-xs">
  <label class="control-label hidden-sm hidden-md" for="fontsize">Font Size</label>
  <div class="form-group">
    <select class="form-control input-xs" id="fontsize">
      <option value="8px">8px</option>
      <option value="9px">9px</option>
      <option value="10px">10px</option>
      <option value="11px">11px</option>
      <option value="12px">12px</option>
      <option value="13px">13px</option>
      <option value="14px">14px</option>
      <option value="16px">16px</option>
      <option value="18px">18px</option>
      <option value="20px">20px</option>
      <option value="22px">22px</option>
      <option value="24px">24px</option>
      <option value="26px">26px</option>
      <option value="28px">28px</option>
      <option value="36px">36px</option>
      <option value="48px">48px</option>
      <option value="72px">72px</option>
    </select>
  </div>
</li>
