<li class="hidden-xs hidden-sm hidden-md">
  <label class="control-label" for="keybindings">Key Bindings</label>
  <div class="form-group">
    <select class="form-control input-xs" id="keybindings">
      <option value="default">Default</option>
      <option value="ace/keyboard/vim">Vim</option>
      <option value="ace/keyboard/emacs">Emacs</option>
    </select>
  </div>
</li>