<li class="hidden-xs">
  <label class="control-label hidden-sm" for="wordwrap">Word Wrap</label>
  <label class="control-label hidden-md hidden-lg" for="wordwrap">Wrap</label>
  <div class="form-group">
    <input type="checkbox" id="wordwrap" value="">
  </div>
</li>