<div>
  <button class="btn btn-success my-3" id="add_new_field_button" type="button">
      Add new option
  </button>

  <%= link_to 'Back', project_path(params[:project_id]), class: 'btn btn-default my-3 float-end',  title: 'Return to projects page' %>
</div>

<template id="new_field_template">
  <div class="editable-form-field">

    <div class="row mx-0 justify-text-center my-2">
      <!-- help text is going to be place here in javascript -->
    </div>

    <div class="row mx-0">
      <select class="form-control" id="add_new_field_select">
        <!-- options added in javascript -->
      </select>

      <div class='mt-3 p-0'>
        <button class="btn btn-success" type="button"><%= t('dashboard.add') %></button>
        <button class="btn btn-danger float-end" type="button"><%= t('dashboard.remove') %></button>
      </div>
    </div>
  </div>
</template>
