@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url("../fonts/Iosevka-Extended.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url("../fonts/Iosevka-ExtendedBold.woff2") format("woff2");
}
