html, body {
  height: 100%;
  width:  100%;
  margin: 0;
}

#terminal {
  display:  block;
  position: relative;
  height:   100%;
  width:    100%;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  font-size: 16px;

  margin: 15px;
  padding: 15px;

  border-color: #ebccd1;
  border: 1px solid;
  border-radius: 4px;
}

/* For Launch page*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #F0E9E9;
}

.right {
  right: 0;
  background-color: #F0E9E9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bubble {
  padding: 10px;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  -moz-box-shadow: 2px 2px 5px #333;
  -webkit-box-shadow: 2px 2px 5px #333;
  box-shadow: 2px 2px 5px #333;
}

.drop {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 50px;
}

.custom-label {
  font-size: 20px;
}

.button {
  height: 40px;
  border-radius: 5px;
}