html, body {
  height: 100%;
  width:  100%;
  margin: 0;
}

#terminal {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  font-size: 16px;

  margin: 15px;
  padding: 15px;

  border-color: #ebccd1;
  border: 1px solid;
  border-radius: 4px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 0;
  padding: 1px 3px 1px 3px;

  /* keep the navbar from expanding on multiple lines */
  max-height: 25px;
  overflow: hidden;
}

#colors {
  margin-right: 20px;
  font-size: 10px;
  height: 20px;
  padding: 0px;
}

iframe {
   flex-grow: 1;
   height: auto !important;
   position: static !important;
   width: auto !important;
} 