html, body {
  height: 100%;
  width:  100%;
  margin: 0;
}

#terminal {
  display:  block;
  position: relative;
  height:   100%;
  width:    100%;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  font-size: 16px;

  margin: 15px;
  padding: 15px;

  border-color: #ebccd1;
  border: 1px solid;
  border-radius: 4px;
}
/* For Launch page*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #FF0000;
  color: white;
}