html, body {
  height: 100%;
  width:  100%;
  margin: 0;
}

#terminal {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  font-size: 16px;

  margin: 15px;
  padding: 15px;

  border-color: #ebccd1;
  border: 1px solid;
  border-radius: 4px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 5px;
  padding: 1px 3px 1px 3px;
  max-height: 27px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .custom-form {
    position: absolute;
    top: 0;
    right: 0;
  }
  .custom-select {
    width: 60%;
    display: inline;
  }

  .custom-host {
    position: absolute;
    top: 0;
    left: 0;
  }


}

.left-padding-none {
padding-left: 0;
}

.left-padding-some {
  padding-left: 20px;
}

#colors {
  margin-right: 20px;
  font-size: 10px;
  height: 20px;
  padding: 0px;
}

iframe {
   flex-grow: 1;
   height: auto !important;
   position: static !important;
   width: auto !important;
} 