
<div class="panel panel-default">

	<div class="col-xs-12">
		<div class="job_data" data-jobid="<%= d.pbsid || d.name %>" ></div>
	</div>

	<% if !d.nodes.nil? %>
		<% d.nodes.each do |node| %>
			<%= render partial: 'active_jobs/job_details_node_view', :locals => {:data => d, :node => node } %>
		<% end %>
	<% end %>

</div>