@import 'ood_appkit/bootstrap-overrides';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts'; 
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';

@import 'bootstrap';

// styles to make a logo fill the navbar height if using a logo for the navbar title
.navbar-brand.navbar-brand-logo{
  padding: 0px;
}
.navbar-brand.navbar-brand-logo img{
  height: 100%;
}

// for inverse, lets make the text slightliy darker so its
// different than the links
.navbar.navbar-inverse .navbar-text{
  color: #ddd;
}

// Add colors
$ood-white: rgb(255, 255, 255);
$ood-red: rgb(200, 16, 46);
$ood-burgundy: rgb(120, 47, 64);
$ood-light-gray: rgb(151, 153, 155);
$ood-gray: rgb(83, 86, 90);
$ood-black: rgb(45, 51, 38);
$ood-blue: rgb(0, 95, 133);

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

  div.content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

// Borrowed from bootstrap 4
.ood-mb-2 {
  margin-bottom: (1rem * .50) !important;
}

// Remove the well-styling from the bootstrap <pre>
pre.motd-monospaced {
  background-color: #FFFFFF;
  font-size: 14px;
  border: none;
  white-space: pre-wrap;
}

@import "dashboard";
@import "navbar";
@import "apps";
@import "products";
@import "batch_connect/sessions";
@import "batch_connect/session_contexts";
@import "insufficient_quota";
@import "insufficient_balance";
