.breadcrumb:not(.breadcrumb-no-delimiter) > .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  margin: 0.25em 1em 0 0;
  transform: rotate(25deg);
  border-right: 0.1em solid currentColor;
  padding-right: 0.5em;
  height: 0.8em;
}

.breadcrumb-no-delimiter .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
}
