.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.gold {
  color: gold;
}

.black {
  color: black;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 1100;
  background-color: inherit;
}

.5-rem {
  width: 5rem;
  height: 5rem;
}