// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header sup {
  font-variant: small-caps;
}

ul.dropdown-menu .popover {
  width:300px;
}

.motd {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

footer {
  border-top: 1px solid #eee;
  margin: 0px 15px;
  padding-top: 30px;
}

.xdmod .panel-body {
  padding-bottom: 0px;
}
