table.dataTable th.dt-orderable-asc:hover {
  background-color: darkgrey;
}

table.dataTable td a {
  text-decoration: none;
}

table.dataTable .file-select {
  vertical-align: middle;
  margin-left: 30%
}
