
// get rid of jquery's default sorting icons.
// so we can put them in a span below.

table.dataTable th:hover {
  background-color: darkgrey;
}

table.dataTable td a {
  text-decoration: none;
}

table.dataTable .file-select {
  vertical-align: middle;
  margin-left: 30%
}