// Place all the styles related to the FileManager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-view-actions {
    margin-bottom: 1rem;
}