// styles for the icon picker used in product edit pages

#icon_search {
  max-width: 98%;
}

// this is a ul element
#icon_picker_list {
  list-style-type: none;
  padding: 0;
  max-height: 18em;
  overflow-y: scroll;

  // this is the main styling
  li {
    display: inline-flex;

    width: 3em;
    height: 3em;
    padding: .5em;
    border-radius: 3px;
    margin: .3em;
    justify-content: center;
    align-items: center;

    i {
      box-sizing: inheret;
      font-size: 2em;
    }
  }
}
