.module-card {
  width: 25rem;
}

.version-badge {
  cursor: pointer;
  background-color: #6c757d;
}

.selected-version {
  background-color: #0d91fd;
  color: white;
}

.load-command-box button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
