.module-card {
  flex: 1 1 20rem;
  min-width: 20rem
}

.module-card.expanded {
  flex: 0 0 100%;
}

.version-badge {
  margin: 5px 0;
  cursor: pointer;
  background-color: #6c757d;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.selected-version {
  background-color: #0d91fd;
  color: white;
}

.load-command-box button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
