.app-launcher-disabled::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.6);
}

.app-launcher-spinner {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  .spinner-border {
    width: 4em;
    height: 4em;
  }
}

.app-launcher {
  position: relative;
  height: 95%;
  margin-bottom: 1.2em;

  border-radius: 10%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;


  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  form.button_to {
    height: 100%;
  }

  button {
    outline: none;
    display: block;
    background-color: inherit;
    width: 100%;
  }

  .launcher-click {
    height: 100%;
    color: black;
    text-decoration: none;

    border: 4px solid $launcher_border;
    border-radius: 10%;
  }
/**
  Pinned Apps border color overrides, to be used with the border_color tile property:
  black, silver, gray, white, maroon, red, purple, fuchsia, green, lime, olive, yellow, navy, blue, teal, aqua
  primary, secondary, success, info, warning, danger, light, and dark
 */
  .launcher-click.black {
    border-color: black;
  }

  .launcher-click.silver {
    border-color: silver;
  }

  .launcher-click.gray {
    border-color: gray;
  }

  .launcher-click.white {
    border-color: white;
  }

  .launcher-click.maroon {
    border-color: maroon;
  }

  .launcher-click.red {
    border-color: red;
  }

  .launcher-click.purple {
    border-color: purple;
  }

  .launcher-click.fuchsia {
    border-color: fuchsia;
  }

  .launcher-click.green {
    border-color: green;
  }

  .launcher-click.lime {
    border-color: lime;
  }

  .launcher-click.olive {
    border-color: olive;
  }

  .launcher-click.yellow {
    border-color: yellow;
  }

  .launcher-click.navy {
    border-color: navy;
  }

  .launcher-click.blue {
    border-color: blue;
  }

  .launcher-click.teal {
    border-color: teal;
  }

  .launcher-click.aqua {
    border-color: aqua;
  }

  .launcher-click.primary {
    border-color: var(--primary);
  }

  .launcher-click.secondary {
    border-color: var(--secondary);
  }

  .launcher-click.success {
    border-color: var(--success);
  }

  .launcher-click.info {
    border-color: var(--info);
  }

  .launcher-click.warning {
    border-color: var(--warning);
  }

  .launcher-click.danger {
    border-color: var(--danger);
  }

  .launcher-click.light {
    border-color: var(--light);
  }

  .launcher-click.dark {
    border-color: var(--dark);
  }

  i, img {
    text-align: center;
    padding-top: 1rem;
    width: unset;
    font-size: 6.25rem;
  }

  i {
    height: 1.2em;
  }

  img {
    max-width: 90%;
    margin-bottom: 0.2em;
  }

  .app-icon {
    margin-right: 0;
  }

  p.app-title {
    margin: 0;
  }

  p.app-description {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
}

.app-launcher-hover:hover {
  transform: scale(0.98);
}
