.app-launcher-disabled::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.6);
}

.app-launcher-spinner {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  .spinner-border {
    width: 4em;
    height: 4em;
  }
}

.app-launcher {
  position: relative;
  height: 95%;
  margin-bottom: 1.2em;

  border-radius: 10%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;


  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;

  form.button_to {
    height: 100%;
  }

  button {
    outline: none;
    display: block;
    background-color: inherit;
    width: 100%;
  }

  .launcher-click {
    height: 100%;
    color: black;
    text-decoration: none;

    border: 4px solid $launcher_border;
    border-radius: 10%;
  }
/**
  Pinned Apps border color overrides:
  - Any standard CSS named color
  - Bootstrap theme colors: primary, secondary, success, info, warning, danger, light, dark
 */
  $css_named_colors: (
    "aliceblue", "antiquewhite", "aqua", "aquamarine", "azure", "beige", "bisque", "black",
    "blanchedalmond", "blue", "blueviolet", "brown", "burlywood", "cadetblue", "chartreuse",
    "chocolate", "coral", "cornflowerblue", "cornsilk", "crimson", "cyan", "darkblue",
    "darkcyan", "darkgoldenrod", "darkgray", "darkgreen", "darkgrey", "darkkhaki",
    "darkmagenta", "darkolivegreen", "darkorange", "darkorchid", "darkred", "darksalmon",
    "darkseagreen", "darkslateblue", "darkslategray", "darkslategrey", "darkturquoise",
    "darkviolet", "deeppink", "deepskyblue", "dimgray", "dimgrey", "dodgerblue", "firebrick",
    "floralwhite", "forestgreen", "fuchsia", "gainsboro", "ghostwhite", "gold", "goldenrod",
    "gray", "green", "greenyellow", "grey", "honeydew", "hotpink", "indianred", "indigo", "ivory",
    "khaki", "lavender", "lavenderblush", "lawngreen", "lemonchiffon", "lightblue",
    "lightcoral", "lightcyan", "lightgoldenrodyellow", "lightgray", "lightgreen",
    "lightgrey", "lightpink", "lightsalmon", "lightseagreen", "lightskyblue",
    "lightslategray", "lightslategrey", "lightsteelblue", "lightyellow", "lime",
    "limegreen", "linen", "magenta", "maroon", "mediumaquamarine", "mediumblue",
    "mediumorchid", "mediumpurple", "mediumseagreen", "mediumslateblue",
    "mediumspringgreen", "mediumturquoise", "mediumvioletred", "midnightblue",
    "mintcream", "mistyrose", "moccasin", "navajowhite", "navy", "oldlace", "olive",
    "olivedrab", "orange", "orangered", "orchid", "palegoldenrod", "palegreen",
    "paleturquoise", "palevioletred", "papayawhip", "peachpuff", "peru", "pink", "plum",
    "powderblue", "purple", "rebeccapurple", "red", "rosybrown", "royalblue", "saddlebrown",
    "salmon", "sandybrown", "seagreen", "seashell", "sienna", "silver", "skyblue", "slateblue",
    "slategray", "slategrey", "snow", "springgreen", "steelblue", "tan", "teal", "thistle",
    "tomato", "turquoise", "violet", "wheat", "white", "whitesmoke", "yellow", "yellowgreen"
  );

  @each $color_name in $css_named_colors {
    .launcher-click.#{$color_name} {
      border-color: unquote($color_name);
    }
  }

  .launcher-click.primary {
    border-color: var(--primary);
  }

  .launcher-click.secondary {
    border-color: var(--secondary);
  }

  .launcher-click.success {
    border-color: var(--success);
  }

  .launcher-click.info {
    border-color: var(--info);
  }

  .launcher-click.warning {
    border-color: var(--warning);
  }

  .launcher-click.danger {
    border-color: var(--danger);
  }

  .launcher-click.light {
    border-color: var(--light);
  }

  .launcher-click.dark {
    border-color: var(--dark);
  }

  i, img {
    text-align: center;
    padding-top: 1rem;
    width: unset;
    font-size: 6.25rem;
  }

  i {
    height: 1.2em;
  }

  img {
    max-width: 90%;
    margin-bottom: 0.2em;
  }

  .app-icon {
    margin-right: 0;
  }

  p.app-title {
    margin: 0;
  }

  p.app-description {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
}

.app-launcher-hover:hover, .app-launcher-hover:focus-within {
  transform: scale(0.98);
}
