
.project-icon {
  padding: 0.3rem;
  margin: 0.5rem;

  outline: 0.25em solid rgb(26, 118, 211);
  border-radius: 10%;

  &:hover {
    outline: 0.4em solid rgb(26, 118, 211);
  }

  a {
    text-decoration: none;
  }

  button {
    text-decoration: none !important;
  }
}

.job-info {
  cursor: default;
}

.job-info .job-info-description{
  display: block;
}

.list-toggler[aria-expanded="false"] span::after {
  content: "▲";
  font-size: 1.4em;
  float: right;
}

.list-toggler[aria-expanded="true"] span::after {
  content: "▼";
  font-size: 1.4em;
  float: right;
}

.launcher-title {
  font-size: 1em;
  font-weight: bold;
}

.launcher-button {
  color: white;
  width: 100%;
  margin: 0.25rem;
}