.project-card {
  width: fit-content;
}

.project-icon {
  padding: 2rem;
  margin: 0.5rem;

  outline: 0.25em solid rgb(26, 118, 211);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;

  &:hover {
    outline: 0.4em solid rgb(26, 118, 211);
  }

  a {
    text-decoration: none;
  }

  button {
    text-decoration: none !important;
  }

  .project-title {
    font-size: 1.25rem;
    margin: 1rem 0rem;
    font-weight: bold;
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.job-info {
  cursor: default;
}

.job-info .job-info-description{
  display: block;
}

.list-toggler[aria-expanded="false"] span::after {
  content: "▲";
  font-size: 1.4em;
  float: right;
}

.list-toggler[aria-expanded="true"] span::after {
  content: "▼";
  font-size: 1.4em;
  float: right;
}

.launcher-title {
  font-size: 1em;
  font-weight: bold;
}

.launcher-button {
  color: white;
  width: 100%;
  margin: .2rem 0px;
  text-wrap:nowrap;
}

#project_jobs_files_col {
  padding-right: 0px;

  .jobs-files-item {
    padding-right: 0px;
  }

  #jobs_item {
    @media (min-width: 992px) {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
  }
}

.pill-box {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;

  .job-pill {
    width: min-content;
    padding: 0rem 1rem;

    button.badge {
      color: var(--bs-btn-hover-color);
    }

    button.badge.collapsed {
      color: var(--bs-badge-color);
    }

    button.badge.collapsed:hover {
      color: var(--bs-btn-hover-color);
    }
  }

  .job-popup {
    position: absolute;
    left: 5.75%;
    width: 88.5%; // 2*left + width should always = 100

    @media (min-width: 576px) {
      left: 37%;
      width: 59.5%;
    }

    @media (min-width: 992px) {
      left: 18.5%;
      width: 30.5%;
    }

    @media (min-width: 1600px) {
      left: 18%;
      width: 31.9%;
    }
  }
}
