.project-card {
  width: fit-content;
}

.project-icon {
  padding: 2rem;
  margin: 0.5rem;

  outline: 0.25em solid rgb(26, 118, 211);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;

  &:hover {
    outline: 0.4em solid rgb(26, 118, 211);
  }

  a {
    text-decoration: none;
  }

  button {
    text-decoration: none !important;
  }

  .project-title {
    margin: 1rem 0rem;
    font-weight: bold;
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.job-info {
  cursor: default;
}

.job-info .job-info-description{
  display: block;
}

.list-toggler[aria-expanded="false"] span::after {
  content: "▲";
  font-size: 1.4em;
  float: right;
}

.list-toggler[aria-expanded="true"] span::after {
  content: "▼";
  font-size: 1.4em;
  float: right;
}

.launcher-title {
  font-size: 1em;
  font-weight: bold;
}

.launcher-button {
  color: white;
  width: 100%;
  margin: .2rem 0px;
  text-wrap:nowrap;
}
