.vertical-align-middle {
  vertical-align: middle !important;
}

.project-card {
  width: fit-content;
}

.project-icon {
  padding: 2rem;
  margin: 0.5rem;

  outline: 0.25em solid rgb(26, 118, 211);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;

  &:hover {
    outline: 0.4em solid rgb(26, 118, 211);
  }

  a {
    text-decoration: none;
  }

  button {
    text-decoration: none !important;
  }

  .project-title {
    font-size: 1.25rem;
    margin: 1rem 0rem;
    font-weight: bold;
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.thin-outline {
  outline: 0.15em solid rgb(36, 36, 36);
}

.button-icon {
  font-size: 175%;
  margin-left: 2rem;
}

#import-wrapper {
  padding-bottom: 1rem;
  border-radius: 0px 0px var(--bs-border-radius) var(--bs-border-radius);

  .project-icon {
    width: fit-content;
    aspect-ratio: 1;
  }

  .app-icon {
    font-size: 4rem;
    height: auto;
  }

  .project-title {
    width: 7rem;
    font-size: 1rem;
  }
}

.job-info {
  cursor: default;
}

.job-info .job-info-description{
  display: block;
}

.list-toggler[aria-expanded="false"] span::after {
  content: "▲";
  font-size: 1.4em;
  float: right;
}

.list-toggler[aria-expanded="true"] span::after {
  content: "▼";
  font-size: 1.4em;
  float: right;
}

.launcher-title {
  font-size: 1em;
  font-weight: bold;
}

.launcher-button {
  color: white;
  width: 100%;
  margin: .2rem 0px;
  text-wrap:nowrap;
}