/** Job Analytics **/
#jobsPanelDiv {
  .hiddenRow {
    padding: 0 !important;
  }

  i.app-icon {
    width: 0.9rem;
    height: 0.9rem;
    font-size: 0.9rem;
  }

  tr[aria-expanded=true] .closed {
    display: none;
  }

  tr[aria-expanded=false] .open {
    display: none;
  }

  .job-analytics {
    display: flex;
    justify-content: space-between;
    padding: 0.50rem 0.5rem;

    strong {
      font-weight: 600;
    }
  }
}