/** Job Analytics **/
#jobsPanelDiv {
  .hiddenRow {
    padding: 0 !important;
  }

  i.app-icon {
    width: 0.9rem;
    height: 0.9rem;
    font-size: 0.9rem;
  }

  tr[aria-expanded=true] .closed {
    display: none;
  }

  tr[aria-expanded=false] .open {
    display: none;
  }

  .job-analytics {
    padding: 0.50rem 0.25rem;

    span {
      padding-left: 8px;
      padding-right: 8px;
    }

    strong {
      font-weight: 600;
    }
  }
}