<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shell</title>
  <link rel="stylesheet" href="{{baseURI}}/stylesheets/style.css">

  <script src="{{baseURI}}/javascripts/hterm_all_1.85.js"></script>
  <script src="{{baseURI}}/javascripts/ood_shell.1.js"></script>
</head>

<body>
  <div id="terminal"></div>
</body>

<script>
  setupHterm = function () {
    // Global variables that define the terminal
    var oodShell,
      terminalContainer = document.getElementById('terminal'),
      webSocketUrl      = urlWithToken(),
      terminalPrefs     = {
        'use-default-window-copy': true,
        'ctrl-v-paste': true,
        'ctrl-c-copy': true
      };

    // hterm default preferences are defined here. Switch to the tag that we're using.
    // https://chromium.googlesource.com/apps/libapps/+/master/hterm/js/hterm_preference_manager.js

    oodShell = new OodShell(terminalContainer, webSocketUrl, terminalPrefs);
    oodShell.createTerminal();
  }

  window.onload = function() {
    lib.init(setupHterm);
  };

  var urlWithToken = function(){
    url = new URL(document.URL.replace(/^http/, 'ws').replace(/#.*$/, ''));
    url.searchParams.append('csrf', '{{csrfToken}}');
    return url;
  }

</script>

</html>
