<% sorted_versions = versions.sort_by(&:version).reverse %>
<% clusters = versions.map(&:cluster).uniq %>

<li class="module-card p-3 mb-3" style="width: 25rem;">
  <button class="btn btn-outline-secondary p-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= name %>">
    <%= name %>
  </button>

  <div id="collapse_<%= name %>" class="collapse mt-2">
    <div class="p-3 border rounded bg-light">
      <div class="mb-3">
        <strong>Description:</strong> No description available
      </div>
      <div class="mb-3">
        <strong>Clusters:</strong> <%= clusters.map { |c| c.to_s.titleize }.join(", ") %>
      </div>

      <%# TODO: Change module load command to use selected version %>
      <div>
        <strong>Load module:</strong>
        <div><code>module load x</code></div>
      </div>

    </div>
  </div>
</li>
