<% sorted_versions = versions.sort_by(&:version).reverse %>
<% clusters = versions.map(&:cluster).uniq %>

<%# TODO: Remove inline style %>
<li class="module-card p-3 mb-3" style="width: 25rem;">
  <button class="btn btn-outline-secondary p-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= name %>">
    <%= name %>
  </button>

  <div id="collapse_<%= name %>" class="collapse mt-2">
    <div class="p-3 border rounded bg-light">
      <div>
        <strong>Available modules:</strong> 
        <br>
        <%= render 'version_cluster_table', versions: versions, clusters: clusters %>
      </div>
    </div>
  </div>
</li>
