<%# Unique mapped to corresponding modules across different clusters %>
<%# TODO: Enhance HpcModule to handle this %>
<% grouped_versions = versions.group_by(&:version) %>
<% sorted_version_names = grouped_versions.keys.sort.reverse %>

<div class="table-responsive mt-2 mb-2">
  <table class="table table-bordered small text-center">
    <thead>
      <tr>
        <th>Version</th>
        <% clusters.each do |cluster| %>
          <th><%= cluster.to_s.titleize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% sorted_version_names.each do |version_name| %>
        <tr>
          <td><%= version_name %></td>
          <% clusters.each do |cluster| %>
            <td>
              <% if grouped_versions[version_name].any? { |v| v.cluster == cluster } %>
                X
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
