<h1 class="mb-4 d-flex justify-content-between">
  Module Browser
  <span class="h4 text-muted">
    (Last updated: <%= @modules_last_updated ? @modules_last_updated.strftime('%Y-%m-%d %H:%M:%S') : 'n/a' %>)
  </span>
</h1>

<%= render 'toolbar' %>
<%= render 'module_list', modules: @modules %>

<%= javascript_include_tag 'module_browser', nonce: true %>
