<% if !ENV["DISABLE_SAFARI_BASIC_AUTH_WARNING"] && browser.safari? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      As currently configured, the Cluster and Interactive Apps of Open
      OnDemand do not work with Safari. This is due to a bug in Safari with
      using websockets through servers protected using "Basic" auth. Open
      OnDemand can be installed with another authentication mechanism such as
      Shibboleth or OpenID Connect. If "Basic" auth is required, Mac users
      can connect with other browsers like Chrome or Firefox. Please contact
      this site’s technical support and report this message.
    </div>
<% end %>

<% if !browser.modern? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      OnDemand requires a newer version of the browser you are using.
      Current browser requirements include IE Edge, Firefox 19+, Chrome 34+, Safari 8+.
    </div>
<% end %>

<% if browser.device.mobile? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      OnDemand is not yet optimized for mobile use.
    </div>
<% end %>
