<% if !browser.modern? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert">
        <span class="sr-only"><%= t('dashboard.close') %></span>
      </button>
      <%= t('dashboard.browser_warning') %>
    </div>
<% end %>
