<footer>
  <div class="d-flex justify-content-between align-items-center mt-4 border-top px-4 py-4">
    <%= link_to "https://osc.github.io/Open-OnDemand/" do %>
      <%=
        image_tag(
          "OpenOnDemand_powered_by_RGB.svg",
          class: "footer-logo",
          alt: "Powered by Open OnDemand",
          height: "40px",
        )
      %>
    <% end %>
    <span>OnDemand version: <%= Configuration.ood_version %></span>
  </div>
</footer>
