<footer class="d-flex m-0 mt-4 justify-content-between align-items-center p-4">
  <div class="me-2">
    <%= link_to "https://openondemand.org" do %>
      <%=
        image_tag(
          "OpenOnDemand_powered_by_RGB.svg",
          class: "footer-logo",
          alt: "Powered by Open OnDemand",
          height: "40px",
        )
      %>
    <% end %>
  </div>
  <span id="ood_version">OnDemand version: <%= Configuration.ood_version %></span>
</footer>
