<footer>
  <div class="d-flex flex-column-md flex-row align-items-center mt-4 border-top px-4 py-4">
    <%= link_to "https://osc.github.io/Open-OnDemand/", :class => "me-auto" do %>
      <%= image_pack_tag(
          "OpenOnDemand_powered_by_RGB.svg",
          class: "footer-logo",
          alt: "Powered by Open OnDemand",
          height: "40"
        )
      %>
    <% end %>
    <span class="font-monospace text-muted">OnDemand version <%= Configuration.ood_version %></span>
  </div>
</footer>
