<% if file_counter == 0 %>
<li class="breadcrumb-item"><a href="<%= files_path(full_path.parent) %>" style="margin-right: 20px;" class="d btn btn-outline-dark btn-sm"><span class="fa fa-arrow-up"></span></a></li>
<% end %>
<li class="breadcrumb-item">
  <%= link_to file.basename, files_path(file), class: 'd' %>
</li>
<% if file_counter == (file_count - 1) %>
<li class="breadcrumb-item"><button id="goto-btn" type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Change directory</button></li>

<li class="pull-right breadcrumb-item"><button id="copy-path" class="btn btn-outline-dark btn-sm " data-clipboard-text="<%= file.to_s %>"><span class="fa fa-clipboard"></span> Copy path</button></li>
<% end %>
