<script id="clipboard-template" type="text/template">
{{#if files}}
<div class="card mb-3">
  <div class="card-body">
    <button id="clipboard-clear" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p class="mt-4">Copy or move the files below from <code>{{from}}</code> to the current directory:</p>
  </div>
  <ul class="list-group list-group-flush">
    {{#each files}}
      {{#if directory}}
        <li class="list-group-item"><span title="directory" class="fa fa-folder color-gold"></span> {{name}}</li>
      {{else}}
        <li class="list-group-item"><span title="file" class="fa fa-file color-lightgrey"></span> {{name}}</li>
      {{/if}}
    {{/each}}
  </ul>
  <div class="card-body">
    <button id="clipboard-copy-to-dir" class="btn btn-primary">Copy</button>  <button id="clipboard-move-to-dir" class="btn btn-danger float-end">Move</button>
  </div>
</div>
{{/if}}
</script>
