<script id="transfer-template" type="text/template">
{{#*inline "defaultLabel"}}
  <span id="{{id}}" class="text-{{bootstrap_class}}"><b><i class="fas {{fa_label}} %>"></i> {{summary}}</b></span>
{{/inline}}

{{#if completed}}
  {{#if error_summary}}
    <div id="{{id}}" class="alert alert-danger alert-dismissible fade show" role="alert">
      <b><i class="fas fa-exclamation-triangle"></i> {{error_summary}}</b>
      <button class="btn btn-outline-dark btn-sm ms-3 collapsed" type="button" data-bs-toggle="collapse" data-target="#{{id}}-error-report" aria-expanded="false" aria-controls="#{{id}}-error-report">See details</button>
      <div id="{{id}}-error-report" class="collapse">
        <div class="mt-3 card">
          <pre class="card-body">{{error_message}}</pre>
        </div>
      </div>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  {{else}}
    {{> defaultLabel}}
  {{/if}}
{{else}}
  {{> defaultLabel}}
{{/if}}
</script>