<script id="actions-btn-template" type="text/template">
  <div class="btn-group actions-btn-group">
    <%# FIXME: outline dark is easy to see unless the row is selected, then it is difficult to see; consider a different row selection color or indicator
    for example the border-left: 4px solid #0088cc on the checkbox td
    and then some very very light blue highlight that still has the necessary contrast ratio with black on white/black on grey for WCAG
    %>
    <button type="button" class="actions-btn btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-ellipsis-v"></span>
    </button>
    <ul class="dropdown-menu">
      {{#if file}}
        <li><a href="{{data.url}}" class="view-file dropdown-item" target="_blank" data-row-index="{{row_index}}"><i class="fas fa-eye" aria-hidden="true"></i> View</a></li>
        <li><a href="{{data.edit_url}}" class="edit-file dropdown-item" target="_blank" data-row-index="{{row_index}}"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a></li>
      {{/if}}
      <li><a href="#" class="rename-file dropdown-item" data-row-index="{{row_index}}"><i class="fas fa-font" aria-hidden="true"></i> Rename</a></li>
      <%- if Configuration.download_enabled? -%>
      {{#if data.download_url}}
      <li><a href="{{data.download_url}}" class="download-file dropdown-item" data-row-index="{{row_index}}"><i class="fas fa-download" aria-hidden="true"></i> Download</a></li>
      {{/if}}
      <%- end -%>
      <li class="dropdown-divider mt-4"></li>
      <li><a href="#" class="delete-file dropdown-item text-danger" data-row-index="{{row_index}}"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a></li>
    </ul>
  </div>
</script>
