<span id="globus-wrapper">
  <a href="#" id="globus-link" class="btn btn-primary btn-sm" target="_blank">Globus</a>
</span>

<%= javascript_tag(nonce: true) do -%>
  const globus_endpoints = <%= Configuration.globus_endpoints.to_json.html_safe %>;
<%- end -%>
