<span id="globus-wrapper">
  <a href="#" id="globus-link" class="btn btn-primary btn-sm" target="_blank">Globus</a>
</span>

<div hidden id="globus_endpoints" data-globus-endpoints="<%= JSON.dump(Configuration.globus_endpoints) %>"></div>
