<li title="<%= t('dashboard.nav.all_apps') %>">
  <a target="_self" href="<%= apps_index_path %>">
    <i class="fas fa-th"></i><span class="hidden-sm hidden-md hidden-md-nav"> <%= t('dashboard.nav.all_apps') %></span>
  </a>
</li>
