<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
<ul class="dropdown-menu">
  <li class="dropdown-header">Virtual Desktop Interface</li>
  <li><a href="/pun/sys/oakley_vdi"><i class="fa fa-desktop"></i> Oakley VDI</a></li>
  <% if @user.has_ruby_access? %>
    <li><a href="/pun/sys/ruby_vdi"><i class="fa fa-desktop"></i> Ruby VDI</a></li>
  <% end %>
  <li><a href="/pun/sys/paraview"><%= image_tag "logo-14x14-paraview.png" %> Paraview</a></li>
  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Interactive HPC</li>
  <li><a href="/pun/sys/oakley_desktop"><i class="fa fa-desktop"></i> Oakley Desktop</a></li>
  <% if @user.has_ruby_access? %>
    <li><a href="/pun/sys/ruby_desktop" ><i class="fa fa-desktop"></i> Ruby Desktop</a>
  <% end %>
  <li><a href="/pun/sys/abaqus_cae"><%= image_tag "logo-14x14-abaqus.png" %> Abaqus/CAE</a>
  <li><a href="/pun/sys/ansys_workbench"><%= image_tag "logo-14x14-ansys.png" %> ANSYS Workbench</a>
  <li><a href="/pun/sys/comsol"><%= image_tag "logo-14x14-comsol.png" %> COMSOL</a>
</ul>
</li>
