<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Develop<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="<%= restart_url %>"><i class="fa fa-refresh"></i> Restart Web Server</a></li>

    <% if ENV['OOD_APP_SHARING'].present? %>
    <li><a href="<%= wiki_path('Home') %>"><i class="fa fa-book"></i> Developer Documentation</a></li>
    <li><a href="<%=  products_path(type: "dev") %>"><i class="fa fa-gear"></i> My Sandbox Apps (Development)</a></li>
    <%# FIXME: apps_path helper ! work... but linking to other location anyways in future... %>
    <li><a href="<%= products_path(type: "usr") %>"><i class="fa fa-share-alt"></i> My Shared Apps (Production)</a></li>
    <% end %>
  </ul>
</li>
