<li class="dropdown" title="Develop">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-code"></i><span class="hidden-sm hidden-sm-nav"> Develop</span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= nav_link("Restart Web Server", "refresh", restart_url) %>
    <%= nav_link("Developer Documentation", "book", developer_docs_url) %>
    <%= nav_link(products_title(:dev), "gear", products_path(type: "dev")) %>
    <% if Configuration.app_sharing_enabled? %>
      <%= nav_link(products_title(:usr), "share-alt", products_path(type: "usr")) %>
    <% end %>
  </ul>
</li>
