<% if support_url || docs_url %>
<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
<ul class="dropdown-menu">
  <%= nav_link("Contact Support", "question-circle", support_url, target: "_blank") %>
  <%= nav_link("Online Documentation", "info-circle", docs_url, target: "_blank") %>
</ul>
</li>
<% end %>
