<li title="My Interactive Sessions">
  <a target="_self" href="<%= batch_connect_sessions_path %>">
    <i class="fas fa-list"></i><span class="hidden-sm hidden-md hidden-md-nav"> My Interactive Sessions</span>
  </a>
</li>
