<li title="<%= t('dashboard.generic_msg.breadcrumbs_my_sessions') %>">
  <a target="_self" href="<%= batch_connect_sessions_path %>">
    <i class="fas fa-window-restore"></i><span class="hidden-sm hidden-md hidden-md-nav"> <%= t('dashboard.generic_msg.nav_sessions') %></span>
  </a>
</li>
