<%# render partial: "layouts/nav/files_dropdown" if SysRouter.app_exists?("files") %>

<% if SysRouter.app_exists?("files") %>
  <li><a href="<%= OodAppkit.files.url(path: @user.home) %>" target="_blank">Files</a></li>
<% end %>

<% if SysRouter.app_exists?("shell") # only display shell access for Open OnDemand Alpha %>
  <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clusters<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% OodAppkit.clusters.valid_hpc.to_h.select {|k,c| c.login_server? }.each do |k,c| %>
        <li><a href="<%= OodAppkit.shell.url(host: c.login_server.host) %>" target="_blank"><i class="fa fa-terminal"></i> <%= c.title %> Shell Access</a></li>
      <% end %>
    </ul>
  </li>
<% end %>
