<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as <%= @user.name %><span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="<%= passwd_url %>"><i class="fa fa-gear"></i> Change HPC Password</a>
  </li>
  <li role="separator" class="divider"></li>
  <li><a href="<%= @logout_url %>"><i class="fa fa-power-off"></i> Logout</a>
  </li>
</ul>
</li>
