<span class="navbar-text label label-default">
<i class="fa fa-user" title="Logged in as <%= @user.name %>"></i><span class="hidden-xs hidden-sm"> Logged in as <%= @user.name %></span>
</span>

<li>
  <a href="/logout"><i class="fa fa-power-off"></i><span class="hidden-xs hidden-sm"> Log Out</span></a>
</li>
