<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user"></i><span class="hidden-xs hidden-sm"> Logged in as <%= @user.name %></span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="<%= passwd_url %>"><i class="fa fa-gear"></i> Change HPC Password</a>
    </li>

    <% if @logout_url %>
    <li role="separator" class="divider"></li>
    <li><a href="<%= @logout_url %>"><i class="fa fa-power-off"></i> Logout</a>
    </li>
    <% end %>
  </ul>
</li>
