<div class="alert alert-danger card">
  <div class="card-header">
    Could not render announcement '<%= announcement.source || announcement.id || "unknown" %>' because of error
  </div>
  <div class="card-body">
    <p><%= announcement.error_message || announcement.msg %></p>
  </div>
</div>
