<%- invalid_clusters.each do |cluster| -%>
   <%- cluster.errors.each do |error| -%>
   <div class="alert alert-danger" role="alert">
      cluster <strong><%= cluster.id.to_s -%></strong> is unusable with error <%= error -%>
   </div>
  <%- end -%>
<%- end -%>
