<%- if balances.try(:any?) { |balance| balance.insufficient?(threshold: Configuration.balance_threshold) } -%>
  <div class="alert alert-danger insufficient-balance">
    <div class="insufficient-balance-group">
    <%- balances.select{ |balance| balance.insufficient?(threshold: Configuration.balance_threshold) }.each do |balance| -%>
      <div class="insufficient-balance-resource text-center" role="alert">
        <%=
          render(
            partial: "shared/insufficient_balance_resource",
            locals: { balance: balance }
          )
        %>
      </div>
    <%- end -%>
    </div>
  </div>
<%- else -%>
  <div class="alert alert-info insufficient-balance">
    <%= t('dashboard.balance_no_warnings_html', threshold: Configuration.balance_threshold.to_i) %>
  </div>
<%- end -%>
