<%- if balances.try(:any?) { |balance| balance.insufficient?(threshold: Configuration.balance_threshold) } -%>
  <div class="alert alert-danger insufficient-balance">
    <div class="insufficient-balance-group">
    <%- balances.select{ |balance| balance.insufficient?(threshold: Configuration.balance_threshold) }.each do |balance| -%>
      <div class="insufficient-balance-resource text-center" role="alert">
        <%=
          render(
            partial: "shared/insufficient_balance_resource",
            locals: { balance: balance }
          )
        %>
      </div>
    <%- end -%>
    </div>
  </div>
<%- end -%>
