<div class="progress">
<div class="progress-bar bg-danger w-<%= [percent.round, 100].min %>"
    role="progressbar"
    aria-valuenow="<%= percent %>"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <%= percent %>%
  </div>
</div>
