<div class="container">
  <div class="page-header">
    <h3>Job Options</h3>
  </div>

  <%= render 'edit_form', workflow: @workflow %>

</div>

<% if Workflow.show_job_arrays? %>
  <script type="text/javascript">
    function handle_cluster_change(EventData) {
      let selected_cluster = EventData.currentTarget.value;
      let cluster_job_array_support = EventData.data;

      let job_arrays_supported = adapter_for_cluster_supports_job_arrays(
        selected_cluster,
        cluster_job_array_support
      );

      enable_job_array_input(job_arrays_supported);
    }

    function enable_job_array_input(job_arrays_supported) {
      let job_array_request_input = $("#workflow_job_array_request");
      job_array_request_input.prop('disabled', ! job_arrays_supported);

      if(! job_arrays_supported) {
        job_array_request_input.val(null)
      }
    }

    function adapter_for_cluster_supports_job_arrays(cluster, cluster_job_array_support) {
      return cluster_job_array_support[cluster];
    }

    $(document).ready(function(){
      let cluster_job_array_support = {
        <% OODClusters.each do |cluster| %>
          "<%= cluster.id %>": <%= cluster.job_adapter.supports_job_arrays? %>,
        <% end %>
      }

      cluster_job_array_support['ruby'] = false;

      let cluster_select = $('#workflow_batch_host');

      cluster_select.change(
        cluster_job_array_support,
        handle_cluster_change
      );

      // Ensure that cached selections are appropriately handled
      cluster_select.trigger('change');
    });
  </script>
<% end %>