#PBS -N osc_job
#PBS -l nodes=1:ppn=12
#PBS -l walltime=01:00:00
#PBS -q @oak-batch.osc.edu
#PBS -j oe
#PBS -S /bin/bash

echo "---Job started at:"
date

echo "name = {{{name}}}"
echo "batch_host = {{{batch_host}}}"

sleep 30

echo "---Job finished at:"
date
