<div class="row">
<div class="col-md-3">
  <p> icon placeholder </p>
</div>
  <div class="col-md-9">
    <div class="field">
      <%= form.text_field :title, placeholder: "Project title" %>
    </div>
    <div class="field">
      <%= form.text_area :description, placeholder: "Project description" %>
    </div>
  </div>
</div>