<%- 
  id = "job_#{job.cluster}_#{job.id}"
-%>

<div id="<%= id %>" data-job-poller="true"
  data-job-cluster="<%= job.cluster %>"
  data-job-id="<%= job.id %>"
  data-job-status="<%= job.status.to_s %>"
  class="col-md-4">

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
