
<%- 
  id = "job_#{job.cluster}_#{job.id}"
-%>

<turbo-stream action="replace" target="<%= id %>">
  <template>
    <button class="badge bg-primary rounded-pill border-0 btn">
      <span>
        <%= job.id %> <%= job.status.to_s %>
      </span>
    </button>
    </template>
</turbo-stream>
