<%-
  disabled = !@valid_project
  disabled_class = disabled ? 'disabled' : ''
  edit_title = "#{t('dashboard.edit')} launcher #{launcher.title}"
  delete_title = "#{t('dashboard.delete')} launcher #{launcher.title}"
-%>

<div class="row">

  <%= button_to(
    submit_project_launcher_path(@project.id, launcher.id),
    class: 'btn btn-success mr-1 d-flex',
    title: 'Launch script with cached or default values',
    disabled: disabled,
    params: launcher.quick_launch_params,
    id: "launch_#{launcher.id}"
  ) do
  %>
    <i class="fa fa-play"></i>
  <%- end %>

  <%= link_to(
    project_launcher_path(@project.id, launcher.id),
    class: "btn btn-success mr-1 d-flex #{disabled_class}",
    id: "show_#{launcher.id}"
    ) do
  %>
    <i class="fa fa-bars"></i>
  <%- end -%>

  <%= link_to(
    edit_project_launcher_path(@project.id, launcher.id),
    class: "btn btn-primary #{disabled_class} mr-1 d-flex",
    id: "edit_#{launcher.id}",
    title: edit_title) do
  %>
    <i class="fa fa-pencil"></i>
  <%- end %>

  <div class="ml-auto">
    <%= button_to(
      project_launcher_path(@project.id, launcher.id),
      id: "delete_#{launcher.id}",
      class: "btn btn-danger d-flex justify-content-end",
      title: delete_title,
      data: { confirm: I18n.t('dashboard.jobs_scripts_delete_script_confirmation') },
      method: :delete) do
    %>
      <i class="fa fa-trash"></i>
    <%- end -%>
  </div>
</div>