<% if File.exist?("#{@project.directory}/README.md") %>
    <p><%= File.read("#{@project.directory}/README.md") %></p>
<% elsif File.exist?("#{@project.directory}/README.txt") %>
    <% File.readlines("#{@project.directory}/README.txt").each do |line| %>
        <p><%= line %></p>
    <% end %>
<% end %>