<% if File.extname(@project.readme) == '.md' %>
    <p><%= File.read(@project.readme) %></p>
<% elsif File.extname(@project.readme) == '.txt' %>
    <% File.readlines(@project.readme).each do |line| %>
        <p><%= line %></p>
    <% end %>
<% end %>