  <div class='card-group'>
    <div class='card'>
      <div class='card-body'>
        <%- unless templates.to_a.empty? -%>
          <div class="field h3">
            <%= form.select(:template, templates) %>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
<script>
  $(document).ready(function() {
    
    $('#project_form').hide(); //Initially form wil be hidden.
    $('#submit_form_button').prop('disabled', true);
    
    $('#project_template').change(function() {
       if ($(this).val() !== null) {
          // Show the form if the select has a value
          $("#project_form").show();
          $("#submit_form_button").prop("disabled", false);
        } else {
          // Hide the form if the select has no value
          $("#project_form").hide();
          $("#submit_form_button").prop("disabled", true);
        }
    });
    $("#reset_button").click(function() {
      $("#project_form").hide();
      $("#submit_form_button").prop("disabled", true);
    });
  });
</script>