<div class='page-header text-center pb-3'>
  <h1>
    Editing: <%= @project.title %>
  </h1>
</div>

<%= bootstrap_form_for(@project, url: project_path, method: :patch) do |form| %>
  <%= render partial: "form", locals: { form: form }%>
<% end %>
