<%= javascript_include_tag('projects_new', nonce: true, type: 'module') %>

<div class='page-header text-center'>
  <h1>New Project</h1>
</div>

<br>

<%= bootstrap_form_for(@project, url: projects_path) do |form| %>
  <%= render partial: "form", locals: { form: form }%>
<% end %>
