
<turbo-stream action="update" target="batch_connect_sessions" id="sessions_frame">
  <template>
    <div
      id="bc_sessions_content"
      class="batch-connect sessions"
      data-adjusted-poll-delay="<%= adjusted_poll_delay(@sessions) %>"
    >
      <% if @sessions.empty? %>
        <div class="ood-appkit markdown">
          <p><%= t('dashboard.batch_connect_no_sessions') %></p>
        </div>
      <% else %>
        <%= render partial: "panel", collection: @sessions, as: :session, formats: [:html] %>
      <% end %>
    </div>
  </template>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</turbo-stream>
