
<turbo-stream action="replace" target="batch_connect_sessions" id="sessions_frame">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <template>
    <div class="batch-connect sessions">
      <% if @sessions.empty? %>
        <div class="ood-appkit markdown">
          <p><%= t('dashboard.batch_connect_no_sessions') %></p>
        </div>
      <% else %>
        <%= render partial: "panel", collection: @sessions, as: :session, formats: [:html] %>
      <% end %>
    </div>
    </template>
</turbo-stream>
