<li class="nav-item" title="<%= t('dashboard.nav_all_apps') %>">
  <a class="nav-link" href="<%= apps_index_path %>">
    <i class="fas fa-th" aria-hidden="true"></i><span class="d-sm-none d-md-none d-lg-inline"> <%= t('dashboard.nav_all_apps') %></span>
  </a>
</li>
