<li class="nav-item dropdown" title="<%= t('dashboard.nav_all_apps') %>">
  <a href="<%= apps_index_path %>" class="nav-link">
    <i class="fas fa-th" aria-hidden="true"></i><span class="hidden-sm hidden-md hidden-md-nav"> <%= t('dashboard.nav_all_apps') %></span>
  </a>
</li>
