<a 
  href="#settings_panel"
  title="<%= t('dashboard.customize') %>" 
  class="nav-link" 
  role="menuitem"
  type="button"
  data-bs-toggle="offcanvas"
  aria-controls="settings_panel">
  
  <i class="fas fa-cog" aria-hidden="true"></i><span class="d-md-none d-xxl-inline"> <%= t('dashboard.customize') %></span></span>
</a>