<li class="nav-item" role="none">
  <button
    type="button"
    id="ood_dark_mode_toggle"
    class="nav-link border-0 bg-transparent"
    role="menuitem"
    aria-pressed="false"
    title="<%= t('dashboard.nav_dark_mode_enable') %>"
    data-enable-label="<%= t('dashboard.nav_dark_mode_enable') %>"
    data-disable-label="<%= t('dashboard.nav_dark_mode_disable') %>">
    <i class="fas fa-moon" aria-hidden="true"></i>
    <span class="d-md-none d-xxl-inline"><%= t('dashboard.nav_dark_mode') %></span>
  </button>
</li>
