<%-
  aria =  if current_page?(controller: 'batch_connect/sessions', action: 'index')
            "aria-current=page"
          else
            ""
          end
-%>

<li class="nav-item" role="none">
  <a title="<%= t('dashboard.breadcrumbs_my_sessions') %>" class="nav-link"
     role="menuitem" href="<%= batch_connect_sessions_path %>"
     <%= aria %>
    >
    <i class="fas fa-window-restore" aria-hidden="true"></i>
    <span class="d-sm-none d-md-none d-lg-inline"> <%= t('dashboard.nav_sessions') %></span>
  </a>
</li>