<li class="nav-item" data-container="body" data-bs-toggle="popover"
  data-content="<%= t('dashboard.nav_user', username: @user.name) %>" data-placement="bottom"
  role="none">
  <a class="nav-link disabled" role="menuitem" title="<%= t('dashboard.nav_user', username: @user.name) %>" href="#">
    <i class="fas fa-user" aria-hidden="true" aria-hidden="true"></i><span class="d-sm-none d-md-none d-lg-inline"> <%= t('dashboard.nav_user', username: @user.name) %></span>
  </a>
</li>