<div class="row">
  <div class="col-md-3">
    <%= render partial: 'products/form_icon', locals: {product: product, f: f} %>
  </div>
  <div class="col-md-9">
    <div class="field">
      <%= f.text_field :title, :label=>"Name", placeholder: "My OnDemand App" %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "Description should go here.\n\nFormat using **markdown**.", help: "Format using <a href='https://guides.github.com/features/mastering-markdown/' rel='noopener' target='_blank'>markdown</a>".html_safe, rows: 10 %>
    </div>
  </div>
</div>
