<div class="row">
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-body">
        <h2 class="text-center">
          Clone an existing app
        </h2>
        <p class="new-product-body">
          Have an existing app that you versioned with a Git repository? Have
          you properly installed SSH keys for this Git repository? You can easily
          clone an existing project and begin development locally.
        </p>
        <div class="text-center">
          <%= link_to 'Clone Existing App', new_from_git_remote_products_path(type: @type), class: 'btn btn-primary' %>
        </div><!-- /.text-center -->
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.col-md-6 -->
</div><!-- /.row -->
