<%= render layout: 'products/breadcrumbs' do %>
  <li class="breadcrumb-item active">New App</li>
<% end %>

<%= render 'new_choose_method' %>

<hr />

<%= link_to 'Back', products_path, class: 'btn btn-default' %>
