<div class='page-header text-center pb-3'>
  <h1>Editing: <%= @workflow.name %></h1>
</div>

<br>

<%= bootstrap_form_for(@workflow, url: project_workflow_path(params[:project_id], @workflow.id), method: :patch) do |form| %>
  <%= render partial: "form", locals: { form: form }%>
<% end %>
