<div class='page-header text-center'>
  <h1>Workflow Manager</h1>
  <small class="text-muted">This is a preview of the new 'Workflow Manager' for Launchers</small>
</div>

<%# TODO Show workflows created for this project %>
<%# TODO Add support to add new workflows to this project %>