<%= javascript_include_tag 'workflows', nonce: true, defer: true %>

<input type="hidden" id="base-launcher-url" value="<%= project_launchers_path(@project.id) %>">

<div class="app" id="app">
  <div class="toolbar" aria-label="toolbar">
    <%= select_tag "select_launcher", options_from_collection_for_select(@launchers, :id, :title), include_blank: true, class: 'form-control mb-2 w-50' %>
    <button id="btn-add">Add Launcher</button>
    <button id="btn-connect" aria-pressed="false">Connect Launchers</button>
    <button id="btn-delete" class="danger" title="Delete selected (Del/Backspace)">Delete Launcher</button>
    <span class="hint">Click to select and drag. Connect via clicking two launchers.</span>
  </div>

  <div class="workspace" id="workspace">
    <div class="stage" id="stage" tabindex="0" aria-label="canvas">
      <svg class="edges" id="edges" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <marker id="arrow" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7"></polygon>
          </marker>
        </defs>
      </svg>
    </div>
  </div>
</div>
