<turbo-stream action="replace" target="system-status">
  <template>
    <% @clusters.each do |cluster| %>
      <div class="col-sm-6 col-xs-12 p-2">
        <div class="col border rounded p-2 text-center">
          <h4><strong><%= cluster.capitalize %> Cluster Status</strong></h4>
          <div>Hello world at <%= Time.now %></div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%">a</div>
          </div>
          <div>This represents the number of GPU nodes in use.</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 28%">gpunodess</div>
          </div>
          <div>This represents the number of CPU cores in use.</div> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%">b</div>
          </div>
          <div>This represents the number of GPUs in use.</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%">gpu usage</div>
          </div>
          <h4 class="mt-2 pt-2 border-top">Jobs</h4>
          <div>n Jobs Running</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 54%">Running</div>
          </div>
          <div>n Jobs Queued</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 10%">Queued</div>
          </div>
        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>