<div>
  <div class="panel panel-default container-fluid">
    <div class="panel-heading row clearfix">
      <strong>
        <div class="col-xs-1">
          <div style="white-space: nowrap;">
            <span class="label label-primary">Running</span>
          </div>
        </div>
        <div class="col-xs-11" style="word-wrap: break-word;">sys/vncsim/sys/bc_osc_owens_vdi/owens-vdi
          <div>(10683.quick-batch.ten.osc.edu)
          </div>
        </div>
      </strong>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Job Information</div>
          <div class="panel-body"><div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
            <strong class="col-sm-5">Username: </strong>
            <span class="job_label_data col-sm-7">bmcmichael</span></div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Account Name: </strong>
              <span class="job_label_data col-sm-7">PZS0002</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Walltime: </strong>
              <span class="job_label_data col-sm-7">0 / 08:00:00</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Queue: </strong><span class="job_label_data col-sm-7">serial</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Resources Requested</div>
          <div class="panel-body">
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Nodes: </strong>
              <span class="job_label_data col-sm-7">1</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">PPN: </strong>
              <span class="job_label_data col-sm-7">1:owens</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Total CPU: </strong>
              <span class="job_label_data col-sm-7">1</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Walltime: </strong>
              <span class="job_label_data col-sm-7">08:00:00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Resources Used</div>
          <div class="panel-body">
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">CPU Time: </strong>
              <span class="job_label_data col-sm-7">0</span>
            </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Memory: </strong>
              <span class="job_label_data col-sm-7">0.00 B</span>
            </div><div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
            <strong class="col-sm-5">VMem: </strong>
            <span class="job_label_data col-sm-7">0.00 B</span>
          </div>
            <div class="small col-sm-12" style="height: 100%; white-space: nowrap;">
              <strong class="col-sm-5">Run Time: </strong>
              <span class="job_label_data col-sm-7">0</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <span class="col-md-2">Submit Args: </span>
        <pre class="col-md-10" style="white-space: pre-wrap;">-q @quick-batch.ten.osc.edu -N sys/vncsim/sys/bc_osc_owens_vdi/owens-vdi -o /users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/output/$PBS_JOBID.output -j oe -S /bin/bash -d /users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/output -m n -l nodes=1:ppn=1:owens -l walltime=8:00:00 -v vnc_batch_type=shared,vnc_app_idx=0,vnc_node_idx=0,ROOT=/users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/staged/owens-vdi,DESKTOP=mate /tmp/qsub.20170412-28079-bpnd3n</pre>
      </div>
      <div class="col-md-12">
        <span class="col-md-2">Output Location: </span>
        <pre class="col-md-10" style="white-space: pre-wrap;">/users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/output/$PBS_JOBID.output</pre>
      </div>
      <div class="col-md-12">
        <a type="button" class="btn btn-default" style="margin: 10px;" href="/pun/sys/files/fs/users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/output" target="_blank">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open in File Manager
        </a>
        <a type="button" class="btn btn-default" style="margin: 10px;" href="/pun/sys/shell/ssh/default/users/appl/bmcmichael/ondemand/data/sys/vncsim/sys/bc_osc_owens_vdi/output" target="_blank"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Open in Terminal</a>
        <button type="button" class="btn btn-danger pull-right" style="margin: 10px;" onclick="delete_job('10683_quick-batch_ten_osc_edu','quick')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
      </div>
    </div>
  </div>
</div>
