<h2>Active Jobs</h2>
    <div class="col-md-12">
        <table class="table datatable display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Cluster</th>
                </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>
<br>