<h2>AweSim on Rails</h2>

<p>To get started with your AweSim app:</p>

<ul>
<li>run a scaffold to generate a model for your domain object</li>
<li>use osc-machete to connect that model to submitting a job</li>
<li>add the associated job template in the <code>jobs/</code> directory</li>
</ul>

<p>Change the root to point to your model's index action instead of the default <code>pages#index</code>, or add documentation to this page.</p>

