<h2>Active Jobs</h2>
    <div class="col-md-12">
        <table id="job_status_table" class="table datatable display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Cluster</th>
                </tr>
            </thead>
        </table>
    </div>
<br>