#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DESTDIR = $(CURDIR)/debian/ondemand
export GEM_HOME	=	$(CURDIR)/gems
export GEM_PATH	=	$(GEM_HOME):$(shell printenv GEM_PATH)

%:
	dh $@

override_dh_auto_configure:
	# nothing to configure

override_dh_auto_build:
	env
	bundle install
	rake --trace build
	rake --trace build:nginx
	rake --trace build:passenger

override_dh_auto_install:
	env
	rake --trace install
	rake --trace install:nginx
	rake --trace install:passenger
	mkdir -p $(DESTDIR)/opt/ood/gems
	mv $(GEM_HOME)/* $(DESTDIR)/opt/ood/gems
