
<div class="editable-form-field">
  <%=  create_widget(form, attrib, format: format) %>

  <div class="d-none edit-group">
  </div>

  <%= render(partial: 'scripts/editable_form_fields/edit_field_buttons') %>
</div>