<%= bootstrap_form_tag  do |form| %>

<div class='page-header text-center'>
  <h1>Project Space</h1>
</div> 
<br>
<div class='row row-cols-1 row-cols-md-2'>
  <p>
    <%= link_to 'Back', jobs_projects_path, class: 'btn btn-default', title: 'Return to projects page' %>
  </p>
</div>

<% end %>
