<li role='button'
  class='clickable text-wrap list-group-item list-group-item-action'
  data-api-url=<%= files_path(path.to_s, fs: path.filesystem) %>>
  <%= fa_icon((path.to_s == Dir.home ? 'home' : path.icon), classes: '') %>
  <%= path.title || path %>
</li>