<%
  input_field_id = "#{form.object_name}_#{attrib.id}"
  path_selector_id = "#{input_field_id}_path_selector"
  options =  { data: { 'path-selector': true }}.merge(field_options)

  locals = {
    show_hidden: field_options.fetch(:show_hidden, false),
    show_files: field_options.fetch(:show_files, true),
    file_pattern: field_options.fetch(:file_pattern, ''),
    initial_directory: field_options.fetch(:directory, CurrentUser.home),
    favorites: pathselector_favorites(field_options.try(:[], :favorites)),

    path_selector_id: path_selector_id,
    table_id: "#{path_selector_id}_table",
    breadcrumb_id: "#{path_selector_id}_breadcrumb",
    button_id: "#{path_selector_id}_button",
    input_field_id: input_field_id
  }
%>

<%= form.text_field(attrib.id, class: 'form-control', **options) %>

<button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#<%= path_selector_id %>">
  <%= I18n.t('dashboard.select_path') %>
</button>

<%= render(partial: 'shared/path_selector_table', locals: locals ) %>
