<% app.links.each do |link| %>
  <div class="col-sm-3 col-md-3">
    <%=
      link_to(
        link.url.to_s,
        class: "app-card",
        data: {
          toggle: "popover",
          content: manifest_markdown(link.description),
          html: true,
          trigger: "hover",
          title: link.title,
          container: "body"
        },
        target: link.new_tab? ? "_blank" : nil
      ) do
    %>
      <div class="center-block text-center">
        <%= icon_tag(link.icon_uri) %>
        <%= content_tag(:p, link.title) %>
        <%=
          content_tag(
            :p,
            content_tag(:span, link.caption),
            class: "text-muted mt-3",
          ) if link.caption
        %>
      </div>
    <% end %>
  </div>
<% end %>
