<div>
  <%=
    link_to(
      link.url.to_s,
      data: {
        toggle: "popover",
        content: manifest_markdown(link.description),
        html: true,
        trigger: "hover",
        title: link.title,
        container: "body"
      },
      target: link.new_tab? ? "_blank" : nil
    ) do
  %>
    <div class="center-block">
      <%= icon_tag(link.icon_uri) %>
      <%= content_tag(:p, link.title, class: "text-center") %>
    </div>
  <% end %>
</div>

