<nav class="breadcrumb-wrapper" aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <% links.each_with_index do |link, idx| %>
      <%= tag.li class: current_page?(link) ? 'breadcrumb-item' : 'breadcrumb-item active' do %>
        <%= tag.a link[:text], aria: ({ current: 'page' } if (links.length - 1 == idx)), href: (link[:href] unless link.key?('href') || link[:disabled]) %>
      <% end %>
    <% end %>
  </ol>
  <ul class="breadcrumb-controls pe-3" role="toolbar" aria-label="Page actions">
    <li class="form-check form-switch" title="Toggle notifications">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="notification_toggle"
        aria-label="Toggle push notifications"
      >
      <label class="form-check-label" for="notification_toggle">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="visually-hidden">Toggle push notifications</span>
      </label>
    </li>
  </ul>
</nav>
