<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <% links.each_with_index do |link, idx| %>
      <%= tag.li class: current_page?(link) ? 'breadcrumb-item' : 'breadcrumb-item active' do %>
        <%= tag.a link[:text], aria: ({ current: 'page' } if (links.length - 1 == idx)), href: (link[:href] unless link.key?('href') || link[:disabled]) %>
      <% end %>
    <% end %>
  </ol>
</nav>
