<%- content_for :head do -%>
  <%= javascript_include_tag('full_page_spinner', nonce: true) %>
<%- end -%>
<div id="full-page-spinner" class="d-none">
  <div class="spinner-border" role="status"></div>
</div>