<script nonce="<%= content_security_policy_nonce %>">
jQuery(function (){
    function showSpinner() {
        $('body').addClass('modal-open');
        $('#full-page-spinner').removeClass('d-none');
    }

    $('.full-page-spinner').each((index, element) => {
        $(element).closest('form').on('submit', showSpinner);
    });
});
</script>
<div id="full-page-spinner" class="d-none">
  <div class="spinner-border" role="status"></div>
</div>