K8S_USERNAME_PREFIX=""
NAMESPACE_PREFIX=""
NETWORK_POLICY_ALLOW_CIDR="127.0.0.1/32"
IDP_ISSUER_URL="https://idp.example.com/auth/realms/main/protocol/openid-connect/token"
CLIENT_ID="changeme"
CLIENT_SECRET="changeme"
IMAGE_PULL_SECRET=""
REGISTRY_DOCKER_CONFIG_JSON="/some/path/to/docker/config.json"
USE_POD_SECURITY_POLICY=false
USE_JOB_POD_REAPER=false
