K8S_USERNAME_PREFIX=""
NAMESPACE_PREFIX=""
NETWORK_POLICY_ALLOW_CIDR="127.0.0.1/32"
IDP_ISSUER_URL="https://idp.example.com/auth/realms/main/protocol/openid-connect/token"
CLIENT_ID="changeme"
CLIENT_SECRET="changeme"
# Set to empty string or remove if not using a private registry
IMAGE_PULL_SECRET=private-docker-registry
REGISTRY_DOCKER_CONFIG_JSON="/some/path/to/docker/config.json"