  <div role="group" aria-label="<%= t('dashboard.jobs_launchers_preview_form_item', label: attrib.label) %>">
    <%=  create_widget(form, attrib, format: format, hide_excludable: false, hide_fixed: false) %>
  </div>