<%-
  field_id = "#{form.object_name}_#{attrib.id}"
-%>

<div class="editable-form-field">
  <%=  create_widget(form, attrib, format: format, hide_fixed: false) %>

  <div class="d-none edit-group">
  </div>

  <%= render(partial: 'launchers/editable_form_fields/edit_field_buttons',  locals: { field_id: field_id }) %>
</div>
