// Load bootstrap sprockets first
@import "bootstrap-sprockets";

// this MUST occur before you import bootstrap
@import "ood_appkit/bootstrap-overrides";

// Load up bootstrap style sheet
@import "bootstrap";

// styles to make a logo fill the navbar height if using a logo for the navbar title
.navbar-brand.navbar-brand-logo,
.ood-appkit.navbar ul.navbar-breadcrumbs>li>a.navbar-brand-logo{
  padding: 0px;
}
.ood-appkit.navbar ul.navbar-breadcrumbs>li>a.navbar-brand-logo{
  margin-right: 15px;
}
.navbar-brand.navbar-brand-logo img{
  height: 100%;
}
.navbar>.container-fluid ul.navbar-breadcrumbs .navbar-brand {
  margin-left: 0;
}
// for inverse, lets make the text slightliy darker so its
// different than the links
.navbar.navbar-inverse .navbar-text{
  color: #ddd;
}

@import "ood_appkit";

// Your custom css styles below (must be manually added)
@import "jobs";

@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

@import "KeyTable/css/keyTable.bootstrap";

// Lightbox
@import "lightbox2/stylesheets/lightbox";

// Font Awesome
@import "font-awesome-sprockets";
@import "font-awesome";
