// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  table-layout:fixed;
}
table td {
  word-wrap:break-word;
}

td.details-control {
  background: url(image_path('arrowright.png')) no-repeat center center;
  background-size: 75%;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url(image_path('arrowdown.png')) no-repeat center center;
  background-size: 75%;
}

.job_label_data {
  word-wrap: break-word;
  bottom: 0;
  right: 0;
  height: auto;
}

.action-btn {
  margin: 1px;
}