<div class="directory-explorer"><h2>Home Directory</h2>
  <div id="directory-tree" class="bootstrap"></div>
</div>
<section data-name="js-{{ side }}" class="panel panel-{{ side }}">{{ content }}</section>
