<div class="directory-explorer">
  <div class="home"><a href="/nfs/17/efranz">
    <span class="mini-icon directory"></span> Home Directory</a>
  </div>
  <div id="directory-tree" class="bootstrap"></div>
</div>
<section data-name="js-{{ side }}" class="panel panel-{{ side }}">{{ content }}</section>
