<tr>
  <td><%= app.owner unless app_counter > 0 %></td>
  <td><%= link_to app.name, app_path(app.name, app.type, app.owner) %></td>
  <td><%= app.description %></td>
  <td><%= app.documentation %></td>
</tr>
