<div class="panel panel-default">
  <div class="panel-heading"><%= app_list.title %></div>
  <div class="list-group">
    <%-
      OodAppGroup.groups_for(
        apps: app_list.apps,
        group_by: :subcategory
      ).each do |group|
    -%>
      <%=
        content_tag(
          "p",
          group.title,
          class: "list-group-item header"
        ) unless group.title.empty?
      %>
      <%=
        render(
          partial: "apps/app_list_item",
          collection: group.apps,
          as: :app,
          locals: {
            current_app_token: local_assigns[:current_app_token]
          }
        )
      %>
    <%- end -%>
  </div>
</div>
