<% if ENV['OOD_APP_CATALOG_LINK'].present? %>
<hr>
<p>If you don't see the app you are looking for, you might need to
<a href="<%= ENV['OOD_APP_CATALOG_LINK'] %>">request or register for it from the catalog</a>.
</p>
<% end %>
