<p>
  <% if ENV['OOD_DASHBOARD_SUPPORT_URL'].present? %>
  <%= t('dashboard.sharing_support_msg_html', support_url: ENV['OOD_DASHBOARD_SUPPORT_URL']) %>
  <% end %>

  <% if ENV['OOD_APP_CATALOG_URL'].present? %>
  <%= t(  'dashboard.sharing_catalog_msg_html',
          catalog_link_tag: link_to(  t('dashboard.sharing_catalog_title'),
                                      ENV['OOD_APP_CATALOG_URL']
                                    )
        )
  %>
  <% end %>
</p>
