<div class="row">
  <div class="col-md-9">
    <% if @nav_groups.any? %>
    <p class="lead">Cluster access applications are available from the dropdown menus in the navbar above.
    <br>Custom shared apps are available below.</p>
    <% end %>
    <%= render partial: "catalog_link" %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render(partial: "group", collection: @groups) || "<strong>No custom shared apps available.</strong>".html_safe %>
  </div>
  <div class="col-md-3">
    <%# This assumes @motd_file responds to `to_partial_path` %>
    <%= render @motd if @motd %>
  </div>
</div>
