<ol class="breadcrumb">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li class="active">
    All Apps
  </li>
</ol>

<div class="row">
  <%= render partial: "app_list", collection: @apps %>
</div>
