<div class="row">
  <div class="col-md-9">
    <p class="lead">Cluster access applications are available from the dropdown menus in the navbar above.
    <br>Custom shared apps are available below.</p>
    <%= render partial: "catalog_link" %>
  </div>
</div>

<div class="row">
<% if @motd_file.exist? %>
    <div class="col-md-9">
      <%= render partial: "group", collection: @groups %>
    </div>
    <div class="col-md-3">
      <%= render partial: "dashboard/motd", locals: { motd: @motd_file  } %>
    </div>
<% else %>
    <div class="col-md-12">
      <%= render partial: "group", collection: @groups %>
    </div>
<% end %>
</div>
