<div class="row window-header">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <% for crumb in breadcrumbs(absolute_requested_path) %>
                <li class="breadcrumb-item"><a href="<%= crumb[:uri] %>"><%= crumb[:name] %></a></li>
                <% end %>
            </ol>
        </nav>
    </div>
</div>