// Load bootstrap/font-awesome sprockets first
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
//@import "awesim";


// overrides for navbar
$navbar-inverse-bg:  rgb(207,16, 45);
$navbar-inverse-link-color: rgb(255, 255, 255);

// Load up bootstrap/font-awesome style sheet
@import "bootstrap";
@import "font-awesome";

// Load up dataTables bootstrap specific styles
// @import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

// add space for fixed navbar
body {
  padding-top: $navbar-height;
}

// Your custom css styles below (must be manually added)
@import "dashboard";
