// Load bootstrap/font-awesome sprockets first
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "awesim";

// Load up bootstrap/font-awesome style sheet
@import "bootstrap";
@import "font-awesome";

// Load up dataTables bootstrap specific styles
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

// Your custom css styles below (must be manually added)
@import "pages";
@import "osc_jobs";

.table {
  width: 100%;
  word-wrap: break-word;
}

