// Load bootstrap sprockets first
@import "bootstrap-sprockets";
@import "awesim";

// Load up bootstrap style sheet
@import "bootstrap";

// display header at top of app layout
body {
  @extend .awesim-banner-background-img;
}


// Your custom css styles below (must be manually added)
@import "pages";
