// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.provider {
  font-weight: bold;

  .text-muted {
    font-weight: normal;
  }
}

.apps-section-header {
  font-size: 24px;

  background: rgb(86, 44, 135);
  color: #fff;
  font-weight: 300;

  padding-left: 105px;
  padding-top: 5px;
  padding-bottom: 10px;
}
