// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#productCliModal {
  .product-cli-body {
    height: calc(100vh - 212px);
    overflow-y: scroll;
    overflow-x: auto;
  }
}
