// Place all the styles related to the Workflows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder-content-view {
  max-height: 250px;
  overflow-y: auto;
}

tr.missing {
  @extend .bg-danger;
}

#job-details-container {
  min-height: 100vh;
}

#script-details-view .help-block {
  display: none;
}

#script-details-view.missing {
  color: #a94442;

  .help-block {
    color: #a94442;
    display: block;
    font-style: italic;
  }
}

// Hide the caret on the disabled selectpicker
.remove-caret  {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

// Hide the caret on the disabled selectpicker (IE)
.remove-caret::-ms-expand {
  display: none;
}
