// Place all the styles related to the Workflows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder-content-view {
  max-height: 250px;
  overflow-y: auto;
}

tr.missing {
  @extend .bg-danger;
}

#job-details-container {
  min-height: 100vh;
}

#script-details-view .help-block {
  display: none;
}

#script-details-view.missing {
  color: #a94442;

  .help-block {
    color: #a94442;
    display: block;
    font-style: italic;
  }
}

.truncate {
  /* Technically the same, but use both for browser compatibility */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
}
