// Place all the styles related to the OscJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder-content-view {
  max-height: 250px;
  overflow-y: auto;
}

#job-details-container {
  min-height: 100vh;
}
