module ondemand-selinux @VERSION@;

require {
  type httpd_tmp_t;
  type httpd_sys_script_t;
  type devpts_t;
  type httpd_t;
  type systemd_logind_t;
  type shadow_t;
  type ptmx_t;
  type sshd_key_t;
  type chkpwd_t;
  type initrc_var_run_t;
  class chr_file { ioctl open read write };
  class fifo_file { create getattr ioctl open read setattr unlink write };
  class netlink_audit_socket { nlmsg_relay create write };
  class capability { audit_write fowner net_admin };
  class file { rw_file_perms manage_file_perms };
  class dir { rw_dir_perms manage_dir_perms };
  class process { noatsecure rlimitinh siginh };
}

#============= httpd_t ==============

# Allow management of home directories when they are local
manage_dirs_pattern(httpd_t, user_home_dir_t, user_home_dir_t)
manage_files_pattern(httpd_t, user_home_dir_t, user_home_dir_t)
manage_dirs_pattern(httpd_sys_script_t, user_home_dir_t, user_home_dir_t)
manage_files_pattern(httpd_sys_script_t, user_home_dir_t, user_home_dir_t)

# PUN startup
allow httpd_t chkpwd_t:process { noatsecure rlimitinh siginh };
allow httpd_t httpd_tmp_t:fifo_file { create getattr ioctl open read setattr unlink write };
allow httpd_t initrc_var_run_t:file read;
allow httpd_t self:capability net_admin;

# Shell app
allow httpd_t ptmx_t:chr_file { ioctl open read write };
allow httpd_t sshd_key_t:file { getattr open read };

# Job Composer
allow httpd_t httpd_sys_script_t:process { noatsecure rlimitinh siginh };
