require {
  type systemd_logind_t;
  class dbus send_msg;
}

#============= httpd_t ==============
allow httpd_t systemd_logind_t:dbus send_msg;

#============= systemd_logind_t ==============
# PUN startup
allow systemd_logind_t httpd_t:dbus send_msg;
