<div class="d-flex flex-row-reverse mx-2 mt-2">
  <%= button_to(
    'Delete',
    project_delete_job_path(project_id: project_id, cluster: cluster, jobid: id),
    method: :delete,
    class: 'btn btn-danger'
  ) %>
</div>