<div class="d-flex flex-row mb-2 mx-2">
  <button class="btn btn-info" type="button">
    <span>Hold</span>
  </button>
  <button class="btn btn-danger ms-auto" type="button">
    <span>Stop</span>
  </button>
</div>