// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#productCliModal {
  .product-cli-body {
    height: calc(100vh - 300px);
    overflow-y: scroll;
    overflow-x: auto;
  }
}

.new-product-body {
  padding: 10px;
  min-height: 120px;
}

.alert-ssh-key {
  position: relative;

  .pull-left {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
  }
}

#readme td,
#readme th {
  border: black 1px solid;
  padding: 2px;
}

#readme h1,
#readme h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 4px;
}

#readme pre > code {
  white-space: pre;
}

.container {
  max-width: 100%;
}

#icon_search {
  max-width: 98%;
}

// this is a ul element
#icon_list {
  list-style-type: none;
  padding: 0;

  // this is the main styling
  li {
    display: inline-flex;

    width: 3em;
    height: 3em;
    padding: .5em;
    border-radius: 3px;
    margin: .3em;
    justify-content: center;
    align-items: center;

    i {
      box-sizing: inheret;
      font-size: 2em;
    }
    

    // float: left;
    // width: 14px;
    // height: 14px;
    // padding: 12px;
    // margin: 0 12px 12px 0;
    // text-align: center;
    // cursor: pointer;
    // border-radius: 3px;
    // font-size: 14px;
    // box-shadow: 0 0 0 

  }
}
