
.project-icon {
  padding: 0.3rem;
  margin: 0.5rem;

  border: 4px solid rgb(26, 118, 211);
  border-radius: 10%;

  &:hover {
    transform: scale(0.98);
  }

  a {
    text-decoration: none;
  }

  button {
    text-decoration: none !important;
  }
}
