
.editable-form-field {
  padding: 0.3rem;
  margin-bottom: 1em;

  outline: 0.15em solid rgb(26, 118, 211);
  // border-radius: 10%;

  &:hover {
    outline: 0.4em solid rgb(26, 118, 211);
  }
}

// empty CSS classes to find divs while editing form fields.
// TODO: change to data-* attributes
.edit-group {}
.edit-field {}
.real-field {}

.text-strike {
  text-decoration: line-through;
}
