<button class="btn btn-default btn-block" data-toggle="cli" 
  data-target="<%= cli_product_path(key, name: @product.name, type: @type) %>"
  data-title="<%= title %>" 
  data-cmd="<%= display %>"><%= title %></button>
