<div class="field">
  <%= f.text_field :title, placeholder: "My OnDemand App" %>
</div>
<div class="field">
  <%= f.text_area :description, placeholder: "Description should go here.\n\nFormat using **markdown**.", help: "Format using <a href='https://guides.github.com/features/mastering-markdown/' target='_blank'>markdown</a>".html_safe, rows: 10 %>
</div>
