<%= render layout: 'products/breadcrumbs' do %>
  <li class="active">New Product</li>
<% end %>

<%= render 'new_choose_method' %>

<hr />

<%= link_to 'Back', products_path, class: 'btn btn-default' %>
