name: Create issues for Merge Request

# Run this action when we merge into master
on:
  pull_request:
    branches:
      - master
      - 'feature/**'
    types: [closed]

jobs:
  # Create an issue on the documentation repository to document whatever was just pulled in.
  create-doc-issue:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Create an issue on the documentation repository
        if: contains(github.event.pull_request.labels.*.name, 'needs doc')
        run: |
          PR_NUM=${{ github.event.pull_request.number }}
          TITLE="${{ github.event.pull_request.title }}"
          BODY="{
             \"title\": \"$TITLE\",
             \"body\": \"Create documentation for https://github.com/OSC/ondemand/pull/$PR_NUM\"
          }"

          curl --silent --output /dev/null --request POST \
          --url https://api.github.com/repos/OSC/ood-documentation/issues \
          --header 'Authorization: token ${{ secrets.OSCWIAG_ISSUE_TOKEN }}' \
          --header 'content-type: application/json' \
          --data "$BODY"

      - name: Create an issue on the puppet repository
        if: contains(github.event.pull_request.labels.*.name, 'needs automation')
        run: |
          PR_NUM=${{ github.event.pull_request.number }}
          TITLE="${{ github.event.pull_request.title }}"
          BODY="{
             \"title\": \"$TITLE\",
             \"body\": \"Create automation for https://github.com/OSC/ondemand/pull/$PR_NUM\"
          }"

          curl --silent --output /dev/null --request POST \
          --url https://api.github.com/repos/OSC/puppet-module-openondemand/issues \
          --header 'Authorization: token ${{ secrets.OSCWIAG_ISSUE_TOKEN }}' \
          --header 'content-type: application/json' \
          --data "$BODY"

      - name: Create an issue on the ansible repository
        if: contains(github.event.pull_request.labels.*.name, 'needs automation')
        run: |
          PR_NUM=${{ github.event.pull_request.number }}
          TITLE="${{ github.event.pull_request.title }}"
          BODY="{
             \"title\": \"$TITLE\",
             \"body\": \"Create automation for https://github.com/OSC/ondemand/pull/$PR_NUM\"
          }"

          curl --silent --output /dev/null --request POST \
          --url https://api.github.com/repos/OSC/ood-ansible/issues \
          --header 'Authorization: token ${{ secrets.OSCWIAG_ISSUE_TOKEN }}' \
          --header 'content-type: application/json' \
          --data "$BODY"