# 
name: Pull Request Labeler
on:
- pull_request_target

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@main
      with:
        repo-token: ${{ secrets.OSCWIAG_ISSUE_TOKEN }}
        configuration-path: .github/labeler.yml
        sync-labels: true # Revert the labels applied to the PR when changes are reverted.