<p>
  Please be patient as your job currently sits in queue. The wait time depends
  on the number of cores as well as time requested. In the future reserving a
  set of nodes can speed up the wait time.
</p>
