<footer>
  <div class="container-fluid">
    <hr>
    <%= link_to "https://osc.github.io/Open-OnDemand/" do %>
      <%= image_tag(
            "OpenOnDemand_powered_by_RGB.svg",
            class: "footer-logo",
            alt: "Powered by Open OnDemand",
            height: "40",
            style: "margin-bottom: 20px"
           ) %>
    <% end %>
  </div><!-- /.container -->
</footer>
